@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

body {
    background-color: #333;
    margin: 0px;
    --light-color: #DFD3C3;
    --darker-color: #C7B198;
}

.budget {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;

    &__form {
        color: rgb(255, 201, 101);
        width: 50%;
        background: var(--light-color);

        &--column1 {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 40px;

            .title {
                h1 {
                    color: var(--darker-color);
                    margin-left: 40px;
                    font-size: 40px;
                }
            }
        }

        &--column2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            height: 50%;

            .operations {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 70%;
                margin: 0 auto;

                .input {
                    width: 200px;
                    background: #fff;
                    color: #333;
                    border: none;
                    border-bottom: 3px solid #333;
                    padding: 10px;
                    font-family: Montserrat;
                }

                .sign {
                    border-radius: 50%;
                    background: var(--darker-color);
                    color: var(--light-color);
                    border: none;
                    padding: 5px 7px;
                    font-size: 23px;
                    cursor: pointer;
                    // background: rgb(105, 193, 5);

                    &__plus {
                        background: rgb(105, 193, 5);
                    }

                    &__minus {
                        background: rgb(241, 2, 2);
                    }

                    &__add {
                        background: #A68DAD;
                    }
                }
            }
        }

    }

    &__calc {
        background: var(--darker-color);
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;

        &--column1 {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin: 40px;

            .summary {
                color: var(--light-color);
            }
        }

        &--column2 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50%;
            flex-direction: column;

            .incomes {
                font-size: 25px;

                &__title {
                    color: rgb(105, 193, 5);
                    font-size: 25px;
                    font-weight: 500;
                }

                &__list {
                    &--item {
                        justify-content: space-between;
                        display: flex;
                        align-items: center;
                        min-width: 250px;
                        list-style: none;
                        background: #fff;
                        color: #333;
                        text-align: center;
                        padding: 5px 20px;
                        box-shadow: 5px 5px 5px #333;
                        margin: 20px 0;

                        .button {
                            display: none;
                        }
                    }

                    &:hover {
                        .button {
                            display: flex;
                            align-items: center;
                            background: #c7b198;
                            padding: 3px;
                            color: #ffefda;


                            &__trash,
                            &__edit {
                                border: none;
                                background: transparent;
                                font-size: 20px;
                                padding: 0px 5px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .expenses {
                &__title {
                    color: rgb(175, 61, 61);
                    font-size: 25px;
                    font-weight: 500;
                }

                &__list {
                    &--item {}
                }
            }
        }
    }
}


.hide {
    display: none;
}