@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    background-color: #333;
    margin: 0px;
    --light-color: #DFD3C3;
    --darker-color: #C7B198;
    font-size: 16px;
}

.budget {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;

    &__form {
        color: rgb(255, 201, 101);
        width: 50%;
        background: var(--light-color);
        min-height: 100vh;

        &--column1 {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 40px;

            .title {
                h1 {
                    color: var(--darker-color);
                    margin-left: 40px;
                    font-size: 3rem;
                }
            }
        }

        &--column2 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 50px;
            height: 50%;

            .operations {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 70%;
                margin: 0 auto;

                .input {
                    width: 200px;
                    background: #fff;
                    color: #333;
                    border: none;
                    border-bottom: 3px solid var(--darker-color);
                    padding: 17px;
                    font-family: Montserrat;
                    margin: 5px;

                    &:focus-visible {
                        outline: none;
                        border-bottom: 3px solid #A68DAD;

                    }
                }

                .sign {
                    background: var(--darker-color);
                    color: var(--light-color);
                    border: none;
                    padding: 12px 14px;
                    font-size: 23px;
                    cursor: pointer;

                    &__plus,
                    &__minus {
                        border-radius: 50%;
                        padding: 10px 12px;
                        margin: 10px;

                        &::before {
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            font-size: 25px;
                            z-index: 5;
                            color: var(--light-color);
                        }
                    }

                    &__plus {
                        background: rgb(105, 193, 5);
                        border: 1px solid rgb(105, 193, 5);

                        &::before {
                            content: "\f067";
                        }
                    }

                    &__minus {
                        background: rgb(241, 2, 2);
                        border: 1px solid rgb(241, 2, 2);

                        &::before {
                            content: "\f068";
                        }
                    }

                    &__add {
                        border-radius: 50%;
                        background: #A68DAD;
                        border: 1px solid #A68DAD;
                        padding: 10px 12px;
                        margin: 10px;
                    }
                }
            }

            .announcement {
                &__text {
                    color: red;
                }
            }
        }

    }

    &__calc {
        background: var(--darker-color);
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;

        &--column1 {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin: 40px;

            .summary {
                color: var(--light-color);
                display: flex;
                font-size: 1.7rem;

                h1 {
                    color: #A68DAD;
                    padding-left: 10px;
                }
            }
        }

        &--column2 {
            display: flex;
            justify-content: center;
            align-items: center;
            // height: 50%;
            flex-direction: column;

            .incomes,
            .expenses {
                font-size: 1rem;
                font-family: 'Open Sans';
                font-weight: 500;
            }

            .incomes {
                color: rgb(74, 138, 0);
            }

            .expenses {
                color: rgb(175, 61, 61);

            }

            .list {
                padding: 0px;

                &__item {
                    justify-content: space-between;
                    display: flex;
                    align-items: center;
                    min-width: 250px;
                    list-style: none;
                    background: #fff;
                    color: #333;
                    text-align: center;
                    padding: 5px 20px;
                    box-shadow: 5px 5px 5px #333;
                    margin: 20px 0;
                    font-size: 1rem;
                    font-family: 'Open Sans';

                    .button {
                        display: none;
                    }

                    &:hover {
                        .button {
                            display: flex;
                            align-items: center;
                            background: #c7b198;
                            padding: 3px;
                            color: #ffefda;


                            &__trash,
                            &__edit {
                                border: none;
                                background: transparent;
                                font-size: 20px;
                                padding: 0px 5px;
                                cursor: pointer;
                            }
                        }
                    }
                }


            }


        }
    }
}


.hide {
    display: none;
}

.disabled {
    background: rgb(99, 98, 98) !important;
    cursor: none !important;
    ;
}